on:
  workflow_call:
    inputs:
      folder:
        type: string
        required: true
        description: The folder in which to run tests

env:
  AWS_REGION: us-east-2

jobs:
  acceptance-tests:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ inputs.folder }}-test-${{ github.sha }}-${{ matrix.index }}
      cancel-in-progress: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      # Needed for pulumictl to calculate version
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - env:
          ESC_ACTION_ENVIRONMENT: github-secrets/${{ github.repository_owner }}-${{ github.event.repository.name }}
          ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: "false"
          ESC_ACTION_OIDC_AUTH: "true"
          ESC_ACTION_OIDC_ORGANIZATION: pulumi
          ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
        id: esc-secrets
        name: Fetch secrets from ESC
        uses: pulumi/esc-action@9eb774255b1a4afb7855678ae8d4a77359da0d9b
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-auth
        with:
          app-id: ${{ steps.esc-secrets.outputs.PULUMI_PROVIDER_AUTOMATION_APP_ID }}
          private-key: ${{ steps.esc-secrets.outputs.PULUMI_PROVIDER_AUTOMATION_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        env:
          MISE_FETCH_REMOTE_VERSIONS_TIMEOUT: 30s
        with:
          version: 2025.12.12
          github_token: ${{ steps.app-auth.outputs.token }}
          # only saving the cache in the prerequisites job
          cache_save: false
      - uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
        with:
          environment: logins/pulumi-ci
      - name: Install packages
        run: yarn install --frozen-lockfile
      - name: Run build
        run: yarn run set-version && yarn run build
      - name: yarn link
        run: yarn link
      - name: set script-shell
        run: yarn config set script-shell /bin/bash
      - name: Generate go test Slice
        id: test_split
        uses: hashicorp-forge/go-test-split-action@v2.0.0
        with:
          working-directory: ${{ inputs.folder }}
          total: ${{ matrix.parallel }}
          index: ${{ matrix.index }}
      - name: Run ${{ inputs.folder }} tests
        run: cd ${{ inputs.folder }} && gotestsum --format github-actions -- -v -count=1 -timeout 2h -parallel 4 -run "${{ steps.test_split.outputs.run }}"
    strategy:
      fail-fast: false
      matrix:
        parallel: [3]
        index: [0, 1, 2]
