env:
  AWS_REGION: us-east-2
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  PULUMI_API: https://api.pulumi-staging.io
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
jobs:
  lint:
    name: Run lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: lint
        uses: ./.github/actions/lint

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: build
        uses: ./.github/actions/build

  test:
    # Only run tests on the schedule event
    # On 'push' we've just merged a PR that ran the tests
    if: github.event_name == 'schedule'
    name: acceptance-test
    uses: ./.github/workflows/acceptance-tests.yml
    secrets: inherit
    with:
      folder: examples

  integration-test:
    # Only run tests on the schedule event
    # On 'push' we've just merged a PR that ran the tests
    if: github.event_name == 'schedule'
    name: integration-test
    uses: ./.github/workflows/acceptance-tests.yml
    secrets: inherit
    with:
      folder: integration

  release:
    if: github.event_name == 'push'
    name: Release
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
    concurrency:
      group: release
      cancel-in-progress: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      # Needed for pulumictl to calculate version
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.11.0
        with:
          repo: pulumi/pulumictl
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org
      - name: Install Yarn
        run: curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
      - name: Install packages
        run: yarn install --frozen-lockfile
      - name: Run build
        run: yarn run set-version && yarn run build
      - if: github.event_name == 'push'
        name: Publish Dev Package
        uses: JS-DevTools/npm-publish@v1
        with:
          access: "public"
          token: ${{ secrets.NPM_TOKEN }}
          package: ${{github.workspace}}/package.json
          tag: dev
          check-version: true

name: main
"on":
  schedule:
    - cron: '0 7 * * *'
  push:
    branches:
      - main
    paths-ignore:
      - CHANGELOG.md
    tags-ignore:
      - v*
      - sdk/*
      - '**'
