permissions: write-all # Equivalent to default permissions plus id-token: write
env:
  AWS_REGION: us-east-2
  PULUMI_API: https://api.pulumi-staging.io
jobs:
  lint:
    name: Run lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: lint
        uses: ./.github/actions/lint

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: build
        uses: ./.github/actions/build

  test:
    needs:
    - build
    name: acceptance-test
    uses: ./.github/workflows/acceptance-tests.yml
    secrets: inherit
    with:
      folder: examples

  integration-test:
    needs:
    - build
    name: integration-test
    secrets: inherit
    uses: ./.github/workflows/acceptance-tests.yml
    with:
      folder: integration

  sentinel:
    runs-on: ubuntu-latest
    name: sentinel
    steps:
    - env:
        ESC_ACTION_ENVIRONMENT: github-secrets/${{ github.repository_owner }}-${{ github.event.repository.name }}
        ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: "false"
        ESC_ACTION_OIDC_AUTH: "true"
        ESC_ACTION_OIDC_ORGANIZATION: pulumi
        ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
      id: esc-secrets
      name: Fetch secrets from ESC
      uses: pulumi/esc-action@9eb774255b1a4afb7855678ae8d4a77359da0d9b
    - name: Mark workflow as successful
      uses: guibranco/github-status-action-v2@0849440ec82c5fa69b2377725b9b7852a3977e76
      with:
        authToken: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
        context: Sentinel
        state: success
        description: Sentinel checks passed
        sha: ${{ github.event.pull_request.head.sha || github.sha }}
    if: github.event_name == 'repository_dispatch' || github.event.pull_request.head.repo.full_name == github.repository
    needs:
    - test
    - integration-test

name: Run Acceptance Tests from PR
on:
  repository_dispatch:
    types: [run-acceptance-tests-command]
  pull_request: {}
    # branches:
    #   - main
